body {
    font-family: 'Crimson Text', serif;
    background-color: rgb(255, 248, 235);
}

.intro {
    width: auto;
    padding: 0.05%;
    color: white;
    background-color: rgb(119, 205, 255);
}

img {
    border: 2px solid rgb(119, 205, 255);
    border-radius: 2%;
}

.media {
    width: 80%;
    height: auto;
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    justify-content: space-evenly;
}

.personal {
    width: 350px;
    height: auto;
    padding: 1%;
    text-align: center;
    margin-top: 50px;
    margin-left: 570px;
    font-size: large;
    border-radius: 5%;
    background-color: rgb(119, 205, 255);
}